.container {
  margin: 20px 5%;
  width: 85%;
  padding: 20px;
  background: white;
}

.column-container {
  column-count: 4;
  column-gap: 20px;
  text-align: center;
  column-rule: 1px solid $border;
  background: $background;
  margin: 10px 0;
  height: 70px;
  padding: 20px 0;
}
.display-container {
  @extend .container;
}
.small-container {
  @extend .background;
  margin: 20px 5%;
  width: 85%;
  padding: 20px;
  color: white;
}

.split-container {
  column-count: 2;
}
.click-container {
  width: 90%;
  padding: 5px 30px;
  margin: 5px 0;
  color: white;
  border-radius: 10px;
  text-align: left;
  font-size: 14px;
}
.click-container:hover {
  cursor: pointer;
  color: black;
}
